.product-category
{
    text-align: center;
}
.out-of-stock
{
    color: red;
}
.product-item
{
    display: inline-block;
    width: 200px;
}
.product-price
{
    display: inline-block;
    width: 100px;
}